html{
    height:100%
}


body{
    background-color: #2f3035;
    background-image: url(assets/Website-Design-Background-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

nav{
    background-color:rgba(0, 0, 0, 0.479);
    text-align:center;
    padding-top: 14px;
    padding-bottom: 14px;

}

main{
    
    height: 400px;
    text-align: center;
    padding-top: 80px;
    padding-left:240px;
    padding-right:240px;
    font-size: 60px;
}

footer{
    background-color: rgba(0, 0, 0, 0.705);
    /*height: 100px;*/
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

h1{
    font-size: 84px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    
} 

h2{
  font-size: 64px;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  
} 



p{
    font-size: 18px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

a{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    /*text-decoration:none;*/
}

nav a{
    text-decoration:none;
    font-size: 16px;
    padding-left: 10px ;
    padding-right: 10px;
    padding-top: 14px;
    padding-bottom: 14px;
}

nav a:hover{
    background-color: rgba(255, 254, 254, 0.3);
}

footer p{
    font-size: 20px;
    text-align: center;
    color: whitesmoke;

}

header h1{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

/* four icon containers and one h1 container (use 80% for h1,5% for each icon, etc) */
.column {
    float: left;
    width:80%;
    padding: 0px;
  }
.columnicon {
    float: right;
    width: 5%;
    padding-top: 30px;
  }
  
  /* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
  }

.columnicon img{
    Height: 40px;
}

.columnicon img:hover{
    border-radius: 50%;
    background-color:rgba(0, 0, 0, 0.479);
}

.typewriter {
    font-family: Courier, monospace;
	/*display: inline-block;*/
}

.typewriter-text {
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 4px;
 	animation: typing 5s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 40px;
    font-weight: 700;
    color: whitesmoke;
    border-right: 4px solid orange;
    box-sizing: border-box;
    text-align: center;
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: whitesmoke; 
    }
}

.mySlides {display: none}


.mySlides img{
    vertical-align: middle;
    max-width: 544px;
    max-height: 350px;
    width: 100%;
    border-style: groove;
    border-bottom-style: none;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prevProject, .nextProject {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.nextProject {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prevProject {
    left: 0;
    border-radius: 3px 0 0 3px;
  }

/* On hover, add a black background color with a little bit see-through */
.prevProject:hover, .nextProject:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.ProjectText {
  color: #f2f2f2;
  background-color: rgba(0, 0, 0, 0.534);
  font-size: 15px;
  padding: 8px 0px;
  position: absolute;
  width: 100%;
  text-align: center;
  border-style: groove;
  border-top-style: none;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #717171;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dotContainer{
  padding-top: 40px;
}

.active, .dot:hover {
  background-color: #bbb;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
